<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script
      src="https://kit.fontawesome.com/1935d064dd.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href={% static 'd22_activemenu/styles.css'  %} />
    <link rel="shortcut icon" type="image/x-icon"  href={% static 'd22_activemenu/favicon.ico'  %} />
  </head>
  <body>
    <header>
      <div class=container>
        <nav>
          <div class="logo">Logo</div>
          <ul class="nav-list">
            <li class="link active"><a href="#home">Home</a></li>
            <li class="link" ><a href="#two">Two</a></li>
            <li class="link" ><a href="#three">Three</a></li>
            <li class="link" ><a href="#four">Four</a></li>
            <li class="link" ><a href="#five">Five</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="header" id="home"></section>
    <section id="two">
      <div class="container">
        <h2>Section 2</h2>
        <div class="box">
          <img src="https://picsum.photos/400/250" alt="image">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </section>
    <section id="three">
      <div class="container">
        <h2>Section 3</h2>
        <div class="box">
          <img src="https://picsum.photos/400/250" alt="image">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </section>
    <section id="four">
      <div class="container">
        <h2>Section 4</h2>
        <div class="box">
          <img src="https://picsum.photos/400/250" alt="image">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </section>
    <section id="five">
      <div class="container">
        <h2>Section 5</h2>
        <div class="box">
          <img src="https://picsum.photos/400/250" alt="image">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
      </div>
    </section>
    <script src="{% static 'd22_activemenu/script.js' %}"></script>
  </body>
</html>
