<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script
      src="https://kit.fontawesome.com/1935d064dd.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href={% static 'd13_httpprototype/styles.css'  %} />
    <link rel="shortcut icon" type="image/x-icon"  href={% static 'd13_httpprototype/favicon.ico'  %} />
  </head>
  <body>
    <div class="container">
      <div class="user">
        <button id="btn"> Get Users </button>
        <hr>
        <div id=users>
          
        </div>
      </div>
      <hr> 
      <div class="userbtr">
        <button id="btnbtr"> Get Users Better! </button>
        <hr>
        <div id=usersbtr>

        </div>
      </div>
    </div>
    <script src="{% static 'd13_httpprototype/script.js' %}"></script>
  </body>
</html>
