<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script
      src="https://kit.fontawesome.com/1935d064dd.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href={% static 'd18_tcountdown/styles.css'  %} />
    <link rel="shortcut icon" type="image/x-icon"  href={% static 'd18_tcountdown/favicon.ico'  %} />
  </head>
  <body>
    <div class="container">
      <h1>Promo Countdown</h1>
      <div class="clock" id="clock"></div>
    </div>

    <script src="{% static 'd18_tcountdown/script.js' %}"></script>
  </body>
</html>
