<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% load static %}
    <link rel="stylesheet" href={% static 'd50_productfilter/styles.css'  %} />
    <link rel="shortcut icon" type="image/x-icon"  href={% static 'd50_productfilter/favicon.ico'  %} />
  </head>
  <body>
    <header>
      <div class="container">
        <h1> Product Filter</h1>
        <div class="search-box">
          <form onsubmit="return false">
            <input type="text" id="search" placeholder="Search Product"></input>
          </form>
        </div>
        <div class="filter-box">
          <a href="#" class="btn active" 
            data-filter="all">All</a>
          <a href="#" class="btn" 
            data-filter="shirt">Shirt</a>
          <a href="#" class="btn" 
            data-filter="gown">Gown</a>
          <a href="#" class="btn" 
            data-filter="jewelry">Jewelry</a>
        </div>
      </div>
    </header>
        <main>
          <div class="main-container">
            <section class="container" id="store-products">
              
              <div class="product watch"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_2.png' %}></img>
                <div class="details">
                  <h2>Watch Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product watch"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_3.png' %}></img>
                <div class="details">
                  <h2>Watch Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product watch"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_4.png' %}></img>
                <div class="details">
                  <h2>Watch Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product shirt"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_12.png' %}></img>
                <div class="details">
                  <h2>Shirt Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product shirt"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_13.png' %}></img>
                <div class="details">
                  <h2>Shirt Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product shirt"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_14.png' %}></img>
                <div class="details">
                  <h2>Shirt Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product gown"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_22.png' %}></img>
                <div class="details">
                  <h2>Gown Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product gown"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_23.png' %}></img>
                <div class="details">
                  <h2>Gown Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>
              <div class="product gown"> 
                <img
                  alt="icon" src={% static '/d50_productfilter/Alchemy_Tokens/token_24.png' %}></img>
                <div class="details">
                  <h2>Gown Product</h2>
                  <p><span class="discounted">$39.99</span> $29.99</p>
                  <a href="#" class="add-to-cart">Add To Cart</a>
                </div>
              </div>

            </section>
            <div class="container no-result">
              <p>No Products Found</p>
            </div>
          </div>
        </main>
      </div>
    </header>
    <script type= "module" src="{% static 'd50_productfilter/script.js' %}"></script>
  </body>
</html>
