
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5  %}
    {% bootstrap_css  %}
    {%  bootstrap_javascript  %}
    <script
      src="https://kit.fontawesome.com/1935d064dd.js"
      crossorigin="anonymous"
    ></script>

    {% load static %}
    <link rel="stylesheet" href={% static 'd1_counterapp/styles.css' %}>
  </head>
  <body>
    <p>Hello World!!!</p>
    <div class="container">
	    <p> testing bootstrap </p>
    </div>
    <script src="{% static 'd1_counterapp/script.js' %}"></script>
  </body>
</html>
