<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% load static %}
    <link rel="stylesheet" href={% static 'd34_bmi/styles.css'  %} />
    <link rel="shortcut icon" type="image/x-icon"  href={% static 'd34_bmi/favicon.ico'  %} />
  </head>
  <body>
    <section>
      <div class="container">
        <h1>BMI Calculator</h1>
        <hr>
        <form action="" method="">
          <div>
            <label for="height"> Height in cm</label>
            <input type="number" min="0" max="1000000" id="height"></input>
          </div>
          <div>
            <label for="weight"> Weight in kg</label>
            <input type="number" min="0" max="1000000"id="weight"></input>
          </div>
          <button class="btn" id="calc-btn" type=button>Calculate</button>
        </form>
        <p id="result"></p>
        <button id="reset" class="btn">Reset</button>
      </div>
    </section>
    <script src="{% static 'd34_bmi/script.js' %}"></script>
  </body>
</html>
