<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script
      src="https://kit.fontawesome.com/1935d064dd.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href={% static 'd14_quotegen/styles.css'  %} />
    <link rel="shortcut icon" type="image/x-icon"  href={% static 'd14_quotegen/favicon.ico'  %} />
  </head>
  <body>
    <div class="container">
      <h1 id="title">Quote Generator</h1>
      <form>
        <div>
          <label for="number">Number of Quotes</label>
          <input type="number" id="number">
        </div>
        <button class="get-quotes"> Get Quotes</button>
      </form>
    </div>
    <hr> 
    <ul id="quotes">
    </ul>

    <script src="{% static 'd14_quotegen/script.js' %}"></script>
  </body>
</html>
